body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1194px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-decoration:underline ;
  color:#FFFFFF;
  text-align:left;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:107px;
  width:936px;
  height:43px;
  display:flex;
  font-size:20px;
  text-decoration:underline ;
  color:#FFFFFF;
  text-align:left;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:117px;
  width:96px;
  height:26px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u84 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:117px;
  width:19px;
  height:21px;
  display:flex;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:146px;
  width:100px;
  height:181px;
}
#u86_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
  display:flex;
  text-decoration:underline ;
  color:#0066CC;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:100px;
  height:43px;
  display:flex;
  text-decoration:underline ;
  color:#0066CC;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:45px;
  display:flex;
  text-decoration:underline ;
  color:#0066CC;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:100px;
  height:46px;
  display:flex;
  text-decoration:underline ;
  color:#0066CC;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009900;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:117px;
  width:91px;
  height:29px;
  display:flex;
  font-size:16px;
  color:#009900;
}
#u92 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:48px;
}
#u93p000 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:15px;
  width:42px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u93p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:6px;
}
#u93p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:4px;
}
#u93p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u93p002 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:19px;
  width:26px;
  height:24px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u93p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:315px;
  width:2px;
  height:37px;
  display:flex;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:352px;
  width:240px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#009900;
}
#u94 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:77px;
  height:22px;
}
#u95p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:70px;
  height:4px;
}
#u95p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:4px;
}
#u95p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u95p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u95p002 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u95p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:127px;
  width:66px;
  height:2px;
  display:flex;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:578px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:19px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normal', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:161px;
  width:936px;
  height:578px;
  display:flex;
  font-family:'Impact Normal', 'Impact', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:underline ;
  color:#FFFFFF;
  text-align:center;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:115px;
  width:172px;
  height:27px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:underline ;
  color:#FFFFFF;
  text-align:center;
}
#u97 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:516px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:192px;
  width:894px;
  height:516px;
  display:flex;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:213px;
  width:689px;
  height:100px;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:50px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:50px;
  display:flex;
  font-size:20px;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:0px;
  width:97px;
  height:50px;
  display:flex;
  font-size:20px;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:50px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:0px;
  width:228px;
  height:50px;
  display:flex;
  font-size:20px;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:50px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:173px;
  height:50px;
  display:flex;
  font-size:20px;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:50px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:0px;
  width:86px;
  height:50px;
  display:flex;
  font-size:20px;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:50px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:105px;
  height:50px;
  display:flex;
  font-size:20px;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:50px;
  width:97px;
  height:50px;
  display:flex;
  font-size:20px;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:50px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:50px;
  width:228px;
  height:50px;
  display:flex;
  font-size:20px;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:50px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:50px;
  width:173px;
  height:50px;
  display:flex;
  font-size:20px;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:50px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:50px;
  width:86px;
  height:50px;
  display:flex;
  font-size:20px;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:332px;
  width:690px;
  height:304px;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:100px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:100px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:100px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:0px;
  width:229px;
  height:100px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:100px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:0px;
  width:172px;
  height:100px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:100px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:0px;
  width:87px;
  height:100px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:68px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:202px;
  height:68px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:68px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:100px;
  width:229px;
  height:68px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:68px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:100px;
  width:172px;
  height:68px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:68px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:100px;
  width:87px;
  height:68px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:68px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:202px;
  height:68px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:68px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:168px;
  width:229px;
  height:68px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:68px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:168px;
  width:172px;
  height:68px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:68px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:168px;
  width:87px;
  height:68px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:68px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:202px;
  height:68px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:68px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:236px;
  width:229px;
  height:68px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:68px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:236px;
  width:172px;
  height:68px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:68px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:236px;
  width:87px;
  height:68px;
  display:flex;
  font-size:28px;
  text-decoration:underline ;
  color:#0066CC;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
